#map {
    height: 100%;
    width: 100%;
    float: right;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}

li {
    border-bottom: 2px solid #ccc;
    padding: 5px;
}

.btn {
    width: 20%;
    border-radius: 0;
}

a#menu svg {
    width: 40px;
    fill: #000;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9;
    background-color: rgba(300, 300, 300, .35);
    border-radius: 10px;
}

nav,
main {
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100%;
}

#drawer {
    padding: 10px;
    margin: 10px;
    z-index: 1;
    background: rgba(300, 300, 300);
    /* For browsers that do not support gradients */

    background: -webkit-linear-gradient(rgba(300, 300, 300, .5), rgba(300, 300, 300, .25));
    /* For Safari 5.1 to 6.0 */

    background: -o-linear-gradient(rgba(300, 300, 300, .5), rgba(300, 300, 300, .25));
    /* For Opera 11.1 to 12.0 */

    background: -moz-linear-gradient(rgba(300, 300, 300, .5), rgba(300, 300, 300, .25));
    /* For Firefox 3.6 to 15 */

    background: linear-gradient(rgba(300, 300, 300, .5), rgba(300, 300, 300, .25));
    /* Standard syntax */

    position: fixed;
    margin-top: 50px;
    border-radius: 10px;
}
/* Since we're mobile-first, by default, the drawer is hidden. */

nav {
    width: 300px;
    height: 100%;
    position: absolute;
    /* This trasform moves the drawer off canvas. */

    -webkit-transform: translate(-320px, 0);
    transform: translate(-320px, 0);
    /* Optionally, we animate the drawer. */

    transition: transform 0.3s ease;
}

nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
/* If there is enough space (> 600px), we keep the drawer open all the time. */

@media (min-width: 800px) {
    /* We open the drawer. */
    nav {
        position: relative;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    /* We use Flexbox on the parent. */

    body {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row nowrap;
        flex-flow: row nowrap;
    }

    main {
        width: auto;
        /* Flex-grow streches the main content to fill all available space. */

        flex-grow: 1;
    }

    #drawer {
        width: 280px;
        z-index: 8;
        margin-top: 10px;
    }

    #map {
        width: 80%;
        /* Fallback for browsers that don't support calc */
        width: calc(100vw - 300px);
    }

    a#menu svg {
        display: none;
    }
}
